/* Changer le background de la barre de titre */
.filament-header {
    background-color: #1F2937; /* Gris foncé */
    color: white; /* Texte en blanc */
}
body.filament-body {
    background-color: #f3f4f6; /* gris clair */
}

/* Exemple avec une image de fond */
body.filament-body {
    background: url('/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Change le fond du dashboard Filament */
html body {
    background-color: #1e293b !important; /* bleu nuit */
    background-image: none !important;
}
